html,
body {
    background-color: var(--hsl-bg);
    color: col(80%);
    min-height: 100vh;
}

.app{
    min-height: 100vh;
    position: absolute;
    inset: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}